In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [15]:
df[df['sex'] == "Female"]["age"].mean()

36.85823043357163

In [18]:
df['native-country'].value_counts(normalize=True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
France                        0.000891
Greece                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Laos                          0.000553
Thailand                      0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

In [33]:
df[df["salary"] == ">50K"]["age"].mean()

44.24984058155847

In [34]:
df[df["salary"] == ">50K"]["age"].std()

10.51902771985177

In [37]:
df[df["salary"] == "<=50K"]["age"].mean()

36.78373786407767

In [36]:
df[df["salary"] == "<=50K"]["age"].std()

14.020088490824813

In [41]:
df[df["salary"] == ">50K"]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [42]:
df[df["race"] == "Amer-Indian-Eskimo"]["age"].max()

82

In [46]:
df[(df["salary"] == ">50K") & (df["sex"] == "Male")]["relationship"].value_counts(normalize=True)

Husband           0.888322
Not-in-family     0.085860
Unmarried         0.015911
Own-child         0.006304
Other-relative    0.003452
Wife              0.000150
Name: relationship, dtype: float64

In [47]:
df["hours-per-week"].max()

99

In [57]:
df[df["hours-per-week"] == 99].count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [58]:
df[(df["hours-per-week"] == 99) & (df["salary"] == ">50K" )].count()

age               25
workclass         25
fnlwgt            25
education         25
education-num     25
marital-status    25
occupation        25
relationship      25
race              25
sex               25
capital-gain      25
capital-loss      25
hours-per-week    25
native-country    25
salary            25
dtype: int64

In [60]:
df[(df["hours-per-week"] == 99) & (df["salary"] == ">50K" )].count()/df[df["hours-per-week"] == 99].count()*100

age               29.411765
workclass         29.411765
fnlwgt            29.411765
education         29.411765
education-num     29.411765
marital-status    29.411765
occupation        29.411765
relationship      29.411765
race              29.411765
sex               29.411765
capital-gain      29.411765
capital-loss      29.411765
hours-per-week    29.411765
native-country    29.411765
salary            29.411765
dtype: float64

In [68]:
df[(df["salary"] == ">50K") & (df['native-country'] == "Japan")]["hours-per-week"].mean()

47.958333333333336

In [69]:
df[(df["salary"] == "<=50K") & (df['native-country'] == "Japan")]["hours-per-week"].mean()

41.0